%body
  .ChatMain
    .ChatMain__GroupInfo
      .GroupInfo__InfoBox
        .InfoBox__GroupName
          = @group.name
        .InfoBox__Member
          Member: 
          - @group.users.each do |user|
            = user.name
      .GroupInfo__Edit
        = link_to edit_group_path(current_user), class: "Group__Edit__btn" do
          = "Edit"
    .ChatMain__MessageList
      = render @messages
    .ChatMain__MessageForm
      = form_with model: [@group, @message], html: {class: "MessageForm__Box"}, local: true do |f|
        .MessageForm__Contents
          = f.text_field :content, class: 'InputContent', placeholder: 'type a message'
          = f.label :image, class: 'InputIcon' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Image__btn'
        = f.submit 'Send', class: 'MessageForm__Submit'