%body
  .SideBar
    .SideBar__UserName
      .UserName__TextBox
        .UserName__Text
          = current_user.name
        .UserName_icon
          = link_to new_group_path(current_user), class: "Edit__btn" do
            = icon('far', 'edit')
          = link_to edit_user_path(current_user), class: "Design__btn" do
            = icon('fas', 'cog')
    .SideBar__GroupList
      - current_user.groups.each do |group|
        .GroupList__ListBox
          = link_to group_messages_path(group) do
            .GroupList__GroupName
              = group.name
            .GroupList__MessageNotice
              = group.show_last_message