%body
  .SideBar
    .SideBar__UserName
      .UserName__TextBox
        .UserName__Text
          = current_user.name
        .UserName_icon
          = link_to "#", class: "Edit__btn" do
            = icon('far', 'edit')
          -# = link_to "current_user", class: "Design__btn" do
          = link_to edit_user_path(current_user), class: "Design__btn" do
            = icon('fas', 'cog')
    .SideBar__GroupList
      .GroupList__ListBox
        .GroupList__GroupName
          techcamp
        .GroupList__MessageNotice
          No message
      .GroupList__ListBox
        .GroupList__GroupName
          techcamp2
        .GroupList__MessageNotice
          No message
